PORT=5000

MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/dhiraj_portfolio

CLIENT_URL=http://localhost:5173

GITHUB_USERNAME=Offical-Dhiraj

EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-16-character-gmail-app-password

CONTACT_RECEIVER_EMAIL=your-email@gmail.com

OTP_SECRET=change-this-to-a-long-random-secret